@import "../../../assets/scss/global";
/*pokemon*/
.pokemon{
  color:#fff;
  background:#FFFFFF ;
  padding: 50px 0;
  &_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    justify-content: start;
    &__content{
      display: flex;
      flex-direction: column;
      background: #F0F0F5;
      border-radius: 8px;
      overflow: hidden;
      .description{
        width: 100%;

        h2{
          font-size: 14px;
          color: #3D3D4D;
          padding-top: 10px;
          line-height: 0px;
          padding-left: 8px;
          width: 100%;
        }
        p{
          font-size: 14px !important;
          text-align: left;
          color: #3D3D4D !important;
          width: 100%;
          padding-left: 10px;
          line-height: 9px;
          margin-bottom: 19px;
        }
      }
    }

  }
  &_siteHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    position: relative;
    span{
      text-align: center;
      font-size: 2.8em;
      font-weight: 600;
      color: #009345;
      padding: 0 10px;
      top: 0;
      width: 100%;
      position: relative;
      border: 2px solid;
      opacity: 0.3;
      text-shadow: 1px 1px 2px #0a382b;
    }
  }
  &_thumb{
    text-align: center;
    background-color: #ffb94d;
    padding: 0px 30px;
    padding-top: 10px;
    line-height: 10px;
  }
  .search-bar{
    margin: 10px 0;
  }
  .input-search{
    padding: 12px;
    border: 1px solid;
    border-color: $lightes-dark;
    color: $color-black-lightes;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    max-width: 100%;
    width: 100%;
  }
  .not-found-empty{
    color: var(--color-default);
    text-align: center;
    font-size: 24px;
    margin: 40px 0;
    min-height: 48vh;
  }
  .pokemon-minimalist{
    margin-top: -30px;
    text-align: center;
  }
}


//screen and (min-width:320px)
@include responsive-media($smartphones-portrait){
  .pokemon{
    &_box{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
      &__content{
        max-width: 320px;
        margin: auto;
      }

    }
    &_thumb{
      width: 100%;
    }
    &_siteHeader{
      span{
      font-size: 2rem;
      }
    }
  }
}
//screen and (min-width:480px)
@include responsive-media($smartphones-landscape){
  .pokemon{
    &_box{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      &__content{
        max-width: 320px;
        margin: auto;
      }
    }
    &_siteHeader{
      h1{
        top: 10px;
      }
    }
  }

}

//screen and (min-width:600px)

//screen and (min-width:801px)
@include responsive-media($tablets-landscape){
  .pokemon{
    &_box{
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }
    &_siteHeader{
      h1{
        top: 10px;
      }
    }
  }
}
//screen and (min-width:1025px)
@include responsive-media($tablets-big-landscape){
  .pokemon{
    &_box{
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
    &_siteHeader{
      h1{
        top: 10px;
      }
    }
  }
}

// //screen and (min-width:1281px)



