@import "../../../../assets/scss/global";
/*pokemon*/
.pokemon-detalhe{
  color:#fff;
  background: var(--background-brown); ;
  padding: 50px 0;
  position: relative;
  &_btnBack{
    background: transparent;
    border-radius: 6px;
    border: 1px solid #ff9000;;
    padding: 10px 16px;
    outline: none;
    position: absolute;
    right: 50px;
    top: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    width: 120px;
    margin-top: 16px;
    font-size: 20px;
    transition: background-color 0.2s;
    
    &:hover{
     opacity: 0.8;
     background: #ff9000;
   }
  }
  &_box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    justify-content: start;
    &__thamb{
      display: flex;
      flex-direction: column;
      border-radius: 8px;
    }
    .description{
      width: 100%;
      h2{
        font-size: 14px;
        color: #fff;
        line-height: 24px;
        width: 100%;
        background: var(--background-brown-ligth);
        margin-bottom: 15px;
      }
      p{
        font-size: 14px !important;
        text-align: left;
        color: var(--color-beige-ligth) !important;
        width: 100%;
        line-height: 17px;
        margin-bottom: 19px;
        padding-bottom: 5px;
        border-bottom: 1px solid #6b6b6b63;
      }
    }

  }
  &_siteHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    position: relative;
    span{
      text-align: center;
      font-size: 2.8em;
      font-weight: 600;
      color: var(--color-beige-ligth);
      opacity: 0.9;
      padding: 0 10px;
      top: 0;
      width: 100%;
      position: relative;
      text-shadow: 1px 1px 2px #0a382b;
    }

  }
  &_thumb{
    text-align: center;
    background-color: #ffb94d;
    padding: 0px 30px;
    padding-top: 10px;
    line-height: 10px;
  }
  .search-bar{
    margin: 10px 0;
  }
  .input-search{
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
  }
  .loading,
  .not-found-empty{
    color: var(--color-beige-ligth);
    opacity: 0.9;
    text-align: center;
    font-size: 24px;
    margin: auto;
    min-height: 56vh;
  }
  
}
//screen and (min-width:320px)
@include responsive-media($smartphones-portrait){
  .pokemon-detalhe{
    &_box{
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
    &_siteHeader{
      span{
      font-size: 2rem;
      }
    }
  }
}
//screen and (min-width:480px)
@include responsive-media($smartphones-landscape){
  .pokemon-detalhe{
    &_box{
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
  }

}
//screen and (min-width:600px)

//screen and (min-width:801px)
@include responsive-media($tablets-landscape){
  .pokemon-detalhe{
    &_box{
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }
}
//screen and (min-width:1025px)


//screen and (min-width:1281px)

